html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Poppins', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Guthen Bloots';
  src: local('Guthen Bloots Regular'), local('Guthen-Bloots-Regular'),
      url('../public/fonts/GuthenBloots.woff2') format('woff2'),
      url('../public/fonts/GuthenBloots.woff') format('woff'),
      url('../public/fonts/GuthenBloots.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}